<div class="container border border-primary mt-5">
    <div class="row text-center m-5">
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCC5-nU0FEx_7MfkOdTOZwIHOBGLPep9c-rw&usqp=CAU" alt="">
            <h3 class="mt-3">Your cart is empty</h3>
            <a routerLink="/" class="btn btn-outline-primary"><i class="fa fa-cart-plus"></i></a>
        </div>
    </div>
</div>




<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table w-100 border border-dark">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Descriotion</th>
                        <th>Action</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>Men's T shirt </td>
                        <td><img src="https://images.unsplash.com/photo-1618354691373-d851c5c3a990?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dHNoaXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="" style="height: 150px; width: 150px;"></td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </td>
                        <td><i class="fa fa-trash text-danger"></i></td>

                        <td>500</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button class="btn m-3 btn-danger">Empty cart</button>
                <button class="btn m-3 btn-primary">shop cart</button>
                <button class="btn m-3 btn-success">checkout</button>
            </div>
        </div>
    </div>
</div>